h2 {
  font-size: medium;
}

p {
  font-size: small;
}

label {
  font-size: small;
  display: flex;
  align-items: center;
  width: 100%;
}

ul {
  list-style-type: none;
}

input[type=submit] {
  background: transparent;
  color: #5C394B;
  border-color: #5C394B;
  border-style: solid;
  border-width: 1px;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.recurform{
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.todosection {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5%;
  font-family: 'Inter', sans-serif;
  color: #5C394B;
  row-gap: 10px;
}

.todoheader {
  background-color: #EBDED9;
  text-align: center;
}

.todolist {
  display: flex;
  flex-direction: column;
  background-color: #EBDED9;
  padding-right: 40px;
}

.todoform {
  font-size: small;
  background-color: #EBDED9;
  padding: 3%
}

.emptymessage {
  display: none;
  margin: 1px;
  color: red;
}

.logoutform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.viewrecurring {
  margin-top: 50px;
}

.listrecurring {
  margin-left: 15%;
  margin-right: 15%;
}

.gptform {
  display: flex;
  flex-direction: column;
  background-color: #EBDED9;
  width: 30%;
  margin: 5%;
  font-family: 'Inter', sans-serif;
  color: #5C394B;
}

.mainsections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete {
  background: transparent;
  color: #5C394B;
  border-color: #5C394B;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
.generatedbutton{
  display: none;
}