html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("seoul background.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 32%;
  background-size: 106vw auto;
}

h2 {
  font-family: 'Inter', sans-serif;
  color: #394447;
  font-size: 18px;
}

p {
  font-family: 'Inter', sans-serif;
  color: #394447;
  font-size: 14px;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: #394447;
  font-size: 38px;
}

button {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 14px;
  width: 50%;
  border: none;
  margin: 3%;
  background-color: #D9D9D9;
}

ul {
  flex-direction: row;
  margin: 0;
  text-align: right;
  position: -webkit-sticky; /* Safari */
  top: 0;
  margin-right: 1vw;
  margin-left: 1vw;
}

form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%
}

summary {
  font-family: 'Inter', sans-serif;
  color: #394447;
  font-size: 18px;
  cursor: pointer;
}

.stackedflex {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.homenavbar {
  width: 75%;
  list-style-type: none;
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 5%;
}

.navbarbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 0.5px solid  #394447;
  transition: 0.3s;
  opacity: 0.75;
  cursor: pointer;
}

.navbarbuttons:hover {  
  opacity: 1;
}

.homesection {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.squishedflex {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.frontheader {
  margin-bottom: 0;
  margin-top: 0;
}

.frontcaption {
  margin-top: 1%;
  margin-bottom: 5%;
}

.individualboxes{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  height: 150px;
  background-color: #D9D9D9;
  opacity: 0.5;
  transition: 0.3s;
}

.individualboxes:hover {  
  opacity: 1;
}

.blogsection {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blogleft {
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: #93a1a8c1; */
  background-color: #d9d9d980;
  justify-content: center;
  align-items: center;
}

.blogright {
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contactsection {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.iconcaptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogparent {
  display: flex;
  flex-direction: column;
}

.blogtitle {
  font-family: 'Inter', sans-serif;
  margin: 3%;
  max-width: 100%;
}

.blogcontents {
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

.comments {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

.displaycomments {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.commentname {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 900;
  font-size: 16px;
}

.commentbody {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.allcomments {
  background-color: #d9d9d9c2;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.text-center {
  text-align: center;
}

.submitbutton {
  font-family: 'Inter', sans-serif;
  color: #394447;
  font-size: 14px;
  background-color: transparent;
  border: 0.5px solid  #394447;
}

